.diff {
    animation-duration: 0.5s;
    animation-name: zoomOut;
    .difficulty {
        display: flex;
        border-radius: 1000px;
        border: solid 1px #000;
        justify-content: center;
        align-items: center;
        padding: 10px;
        flex-direction: row;
        background-color: $light-color-bg-body;
        cursor: pointer;
        margin-bottom: 10px;
        p {
        }
        &_active {
            background-color: $color-ans-choose;
            p {
                color: $color-light;
            }
        }
    }
}
@keyframes zoomOut {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
